:root {
    --viewPortHeight: calc(var(--vh, 1vh) * 100);

    --background: #fafafa;
    --blue-light: #e5f1ff;
    --blue-light-2: #b3dbfa;
    --blue-1: #007aff;
    --blue-2: #003e80;
    --porcelain: #EEF1FA;
    --violet-1: #ab9ffd;
    --violet-2: #816ff8;
    --twilight-1: #595a88;
    --twilight-2: #3b3c6a;
    --blue-chalk: #e9eaf6;
    --gray-1: #c7c9cf;
    --yellow-1: #E7D15B;
    --red-1: #e75b5b;

    --shadow-1-color: 108, 73, 172;
    --shadow-1: 0 100px 80px rgba(var(--shadow-1-color), 0.1),
                0 41px 33px rgba(var(--shadow-1-color), 0.05),
                0 22px 17px rgba(var(--shadow-1-color), 0.04),
                0 12px 10px rgba(var(--shadow-1-color), 0.03),
                0 6px 5px rgba(var(--shadow-1-color), 0.03),
                0 3px 2px rgba(var(--shadow-1-color), 0.02);

    --shadow-2: 0 2px 5px rgba(var(--shadow-1-color), 0.1),
                0 2px 2px rgba(var(--shadow-1-color), 0.2);
}